* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outerdiv h2 {
  text-align: center;
  margin: 10px 0px;
}
.filter-box {
  display: flex;
  justify-content: center;
}
.all-filter-options {
  width: 80%;

  background-color: #dddbdb8d;
  height: 100px;
}
.all-filter-options h3 {
  margin-left: 20px;
  margin-top: 15px;
}
.btn-box {
  margin-left: 20px;
}
button {
  padding: 7px 14px;
  background-color: #ccc;
  border: 1px solid;
  margin: 10px;
  margin-right: 10px;
  border-radius: 4px;
}
table {
  width: 80%;
  border: 1px solid #ccc;
  margin: auto;
  border-collapse: collapse;
  margin-top: 1rem;
}
td,
th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
}
th {
  width: 65%;
  text-align: left;
  background-color: #b1a7a738;
  border: 1px solid #2b292945;
}
tbody tr:hover {
  background-color: #b1a7a738;
}
.btn-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
